@model int[] 

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <label>Introduzca un número</label>
        <input type="text" name="numero"
               class="form-control"/>
        <button type="submit" class="btn btn-info">
            Tabla multiplicar
        </button>
    </form>
</div>

@if (Model != null)
{
    <ul class="list-group">
        @foreach (int num in Model)
        {
            <li class="list-group-item">
                @num
            </li>
        }
    </ul>
}