<h1 style="color:blue">
    SOAP Service Number To Words
</h1>

<form method="post">
    <label>Número: </label>
    <input type="text" name="numero"
           class="form-control"/>
    <button type="submit" class="btn btn-info">
        Llamar al Servicio
    </button>
</form>
<h1 style="color:red">
    @ViewData["RESPUESTA"]
</h1>